<div class="app">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Minha Toolbar</span>
        <span class="spacer"></span>

        <div fxHide.lt-md>
            <a mat-button routerLink="/filmes">Filmes</a>
            <a mat-button routerLink="/pessoas">Pessoas</a>
            <a mat-button routerLink="/planetas">Planetas</a>
            <a mat-button routerLink="/especies">Espécies</a>
            <a mat-button routerLink="/naves">Naves</a>
            <a mat-button routerLink="/veiculos">Veículos</a>
        </div>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="over" opened="false">
            <mat-nav-list role="list">
                <mat-list-item role="listitem">
                    <a mat-list-item routerLink="/filmes">Filmes</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a mat-list-item routerLink="/pessoas">Pessoas</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a mat-list-item routerLink="/planetas">Planetas</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a mat-list-item routerLink="/especies">Espécies</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a mat-list-item routerLink="/naves">Naves</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a mat-list-item routerLink="/veiculos">Veículos</a>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-container>
</div>